<footer class="footer">
  <div class="container footer-container">
    <div class="footer-brand">
      Treepr<span style="color: #E67E22">.</span>
    </div>
  </div>

  <div class="footer-container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="mb-3">
          <h4><strong>About</strong></h4>
          <ul class="footer-links">
            <li><a href="/about-us">About us</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Career</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="mb-3">
          <h4><strong>Hosting</strong></h4>
          <ul class="footer-links">
            <li><a href="/host">Host</a></li>
            <li><a href="/host">Why hosting</a></li>
            <li><a href="">Standards</a></li>
            <li><a href="/faqs">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="mb-3">
          <h4><strong>Explore nature like never before</strong></h4>
          <p class="footer-text">Discover unique experiences on private lands, fields, nature preserves, farms, vineyards, and other campgrounds across the UK. Book tent camping, treehouses, cabins, yurts, primitive backcountry sites, car camping, airstreams, tiny houses, RV camping, glamping tents and more.</p>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="footer-container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12 legal-links footer-links">
        <a class="legal-text" href="/terms">Terms of Service</a>
        <a class="legal-text" href="/terms/privacy">Privacy Policy</a>
        <a class="legal-text" href="/terms/cookies">Cookies Policy</a>
        <p class="legal-text">
          &copy; 2022 - Treepr. All rights reserved
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="footer-links links-socialmedia">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</footer>
