<div class="left-nav-crea">
  <h1 class="mb-5">Manage your experience</h1>
  <ul class="footer-links">
    <li>
      <i class="fa-solid fa-circle-check mr-3 mb-3"></i>
      <%= link_to "Your experience", description_experience_path, class: "sidebar-link" %>
    </li>
    <li>
      <i class="fa-solid fa-circle-notch mr-3 mb-3"></i>
      <%= link_to "Amenities", description_experience_path, class: "sidebar-link" %>
    </li>
    <li>
      <i class="fa-solid fa-circle-notch mr-3 mb-3"></i>
      <%= link_to "Settings", description_experience_path, class: "sidebar-link" %>
    </li>
    <li>
      <i class="fa-solid fa-circle-notch mr-3 mb-3"></i>
      <%= link_to "photos", description_experience_path, class: "sidebar-link" %>
    </li>
  </ul>
  <div class="btn btn-ghost">Publish</div>
</div>
