<div class="container">
  <ul>
  <% @users.each do |user| %>
    <li><%= link_to user.first_name, user_path(user) %></li>
  <% end %>
</ul>
</div>

<div class="container">
  <ul>
  <% @experiences.each do |experience| %>
    <li><%= link_to experience.name, experience_path(experience) %></li>
  <% end %>
</ul>
</div>
