
<header class="home bg-hero">
  <div class="container">

    <div class="hero-title">
      <h1>Live your next outdoor adventure<span style="color: #E67E22">.</span></h1>
    </div>
    <div class="hero-text">
      <p>Your next Treepr adventure starts here.<br>
      Discover, book and enjoy unique outdoor activites around you, from glamping to outdoor experiences, </p>
    </div>
    <div class="col-xs-12 w-100">
    </div>

  </div>
</header>
