<div class="container">
  <h1><strong>My Listings<span style="color: #E67E22">.</span></strong></h1>
  <br>
    <% if @experiences.any? %>
        <% @experiences.each do |experience| %>
          <div class="notification-header">

            <div class="notification-content">
              <p class="badge-progress">in progress</p>
              <h4><%= experience.name %></h4>
              <p><%= experience.address %></p>
            </div>

          </div>
          <div class="notification-footer">
            <a href="<%= overview_experience_path(experience) %>">Show <i class="fa-solid fa-eye"></i></a>
            <%= link_to "Delete",
              experience_path(experience),
              data: {"turbo_method": :delete, turbo_confirm: "Are you sure?"}
            %>
          </div>
          <br>

        <% end %>
      <% else %>
      <p>No activity listed</p>
    <% end %>

</div>
