<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="cards">
        <% if @experiences.length > 0 %>
          <% @experiences.each do |experience| %>
            <%= render 'shared/experience_card', experience: experience %>
          <% end %>
        <% else %>
        <p>Sorry, we couldn't find any campsites that match your search. Please try again</p>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>
  </div>
</div>
