<%= simple_form_for @experience do |f| %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <div class="text-center">
      <%= f.button :submit, 'Add photos', class: "btn-flat" %>
    </div>
<% end %>
