<div class="row">
  <div class="col-2">
    <%= render "shared/onboarding_side_nav" %>
  </div>
  <div class="col-10">
    <div class="onboarding-box">
      <h1>What kind of experience do you host ?</h1>
      <br>
      <p>To be added on the form and db:</p>
      <ul>
        <li>Amenities</li>
        <li>Pricing</li>
        <li>Group</li>      </ul>

    </div>
  </div>
</div>
