.footer {
    border-top: 1px solid $light-gray;
  }

.footer-container {
  margin: 15px 15px;

}

.footer-brand {
  font-size: 16px;
  font-weight: bold;
  color: $green;
}

.footer-links {
  padding-left:0;
  list-style: none;
}

.footer-links li {
  display:block
}

.footer-links a {
  color: $green;
  font-size: 12px;
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color: $orange;
  text-decoration: none;
}

.footer-text {
  color: $green;
  font-size: 12px;
}

.legal-links, .links-socialmedia {
  text-align: center;
}



@media (min-width: 500px) {

  .footer {
    border-top: 1px solid $light-gray;
    margin-top: 50px;
  }

  .footer-container {
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;
    h4 {
      font-size: 18px;
      color: $green;
    }
  }

  .footer-brand {
    font-size: 40px;
    font-weight: bold;
    color: $green;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-links {
    text-align: left;
  }

  .footer-links a {
    font-size: 18px;
  }

  .footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color: $orange;
    text-decoration: none;
  }

  .footer-links.inline li {
    display:inline-block
  }

  .footer-text {
    font-size: 18px;
  }

  .legal-links {
    display: flex;
    justify-content: space-between;
  }

  .legal-text {
    font-size: 16px;
    color: $green;
  }

  .links-socialmedia {
    font-size: 24px;
    float: right;
  }
}
