h1 {
  font-weight: bold;
  color: $green;
  font-size: 32px;
}

a {
  text-decoration: none;
}

.text-orange {
  color: $orange;
}

.desktop {
  display: none;
}

.center {
  text-align: center;
}

.sticky-top {
  position: sticky;
  top: 0px;
}

.form-control {
  border-radius: 4px;
}

.dropdown-divider {
  border-top: 1px solid #E67E22;
}

body {
  text-decoration: none;
}

@media (min-width: 576px) {

.content {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0;
  min-height: 80vh;
  }

}
