#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid $gray;
  box-shadow: none;
  background-color: transparent;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

