.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-size: 32px;
  font-weight: 700;
  color: $green !important
}


@media (min-width: 992px) {
  .dropdown-menu {
    right: 0;
    border-radius: 5px;
  }

  .left-nav-crea {
    padding: 20px 25px;
  }
}
