.notification-header {
  // display: flex;
  align-items: center;
  background: white;
  padding: 20px 30px;
  border: 1px solid rgb(235,235,235);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 12 24px;
}

.notification-footer {
  // display: flex;
  align-items: center;
  background: white;
  padding: 20px 30px;
  border-left: 1px solid rgb(235,235,235);
  border-right: 1px solid rgb(235,235,235);
  border-bottom: 1px solid rgb(235,235,235);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 12 24px;
  background-color: $light-gray
}
